<div id="<%= dom_id client %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">First name:</strong>
    <%= client.first_name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Last name:</strong>
    <%= client.last_name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Phone number:</strong>
    <%= client.phone_number %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Loyal client:</strong>
    <%= client.loyal_client %>
  </p>

</div>
