<div id="<%= dom_id client %>" style="margin-bottom: 40px;">
    <p class="my-5">
    <strong class="font-medium mb-1">Имя, Фамилия:</strong> <%= client.first_name + ", " + client.last_name%>
  </p>

  <p class="my-5">
    <strong class="font-medium mb-1">Номер телефона:</strong> <%= client.phone_number %>
  </p>
  
  <p class="my-5">
    <strong class="font-medium">Постоянный:</strong> <%= client.loyal_client? ? "✅" : "❌" %>
  </p>

  <p class="my-5">
    <strong class="font-medium">Проблемный:</strong> <%= client.problematic_client? ? "✅" : "❌" %>
  </p>

  <p class="my-5 flex items-center">
    <strong class="font-medium mr-2">Заказы:</strong> <%= link_to client.orders.count, client_orders_path(client_id: @client.id), class: "rounded-lg py-1 px-3 bg-blue-600 text-white block font-medium" %>
  </p>

  <p class="my-5">
    <strong class="font-medium">Создан:</strong> <%= client.created_at.strftime("%d.%m.%Y") %>
  </p>
</div>
