<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <% content_for :title, "Clients" %>

  <div class="flex justify-between items-center mb-10">
    <h1 class="font-bold text-4xl">Клиенты</h1>
    <%= link_to "Новый клиент", new_client_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
  </div>

  <table class="min-w-full rounded-lg py-3 px-5 bg-white border border-gray-200">
    <thead>
      <tr class="bg-gray-200">
        <th class="py-2 px-4 border-b">Имя</th>
        <th class="py-2 px-4 border-b">Фамилия</th>
        <th class="py-2 px-4 border-b">Телефон</th>
        <th class="py-2 px-4 border-b">Постоянный, Проблемный</th>
      </tr>
    </thead>
    <tbody>
      <% @clients.each do |client| %>
        <tr class="hover:bg-gray-50 cursor-pointer" onclick="window.location='<%= client_path(client) %>'">
          <td class="py-2 px-4 border-b text-center"><%= client.first_name %></td>
          <td class="py-2 px-4 border-b text-center"><%= client.last_name %></td>
          <td class="py-2 px-4 border-b text-center"><%= client.phone_number %></td>
          <td class="py-2 px-4 border-b text-center"><%= client.loyal_client? ? "✅" : "❌" %>,  <%= client.problematic_client? ? "✅" : "❌" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

