<div id="<%= dom_id order %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Client:</strong>
    <%= order.client_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Device type:</strong>
    <%= order.device_type %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Device brand:</strong>
    <%= order.device_brand %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Device model:</strong>
    <%= order.device_model %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Device serial:</strong>
    <%= order.device_serial %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Device set:</strong>
    <%= order.device_set %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Device condition:</strong>
    <%= order.device_condition %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Malfunction:</strong>
    <%= order.malfunction %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Estimated cost:</strong>
    <%= order.estimated_cost %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Comment:</strong>
    <%= order.comment %>
  </p>

</div>
