<div id="<%= dom_id order %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Заказ №<%= order.id%></strong>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Клиент</strong>
    <%= order.client.first_name + ", " + order.client.last_name%>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Устройство:</strong>
    <%= order.device_brand + ", " + order.device_model %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Неисправность:</strong>
    <%= order.malfunction %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Примерная стоимость:</strong>
    <%= order.estimated_cost + "р"%>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Комментарий:</strong>
    <%= order.comment %>
  </p>

</div>
