<!DOCTYPE html>
<html>
  <head>
    <title>Ezm</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "tailwind", "application", "inter-font", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>  
    <%= favicon_link_tag 'logo.svg' %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body> 
    <%= render "layouts/navbar" %>
    <main class="container mx-auto mt-20 px-4 sm:px-10 lg:px-20 pt-16 pb-24" style="padding-bottom: 100px;">
      <%= yield %>
    </main>
  </body>
</html>
